.article-tokyo {

  .time-list {
    //margin: 0;
    padding: 0;
    line-height: 80px;

    ul{
      margin: 0;
      overflow: auto;
      .item-content{
        width: 445px;
      }
      .item-content.odd{
        float: left;
      }
      .item-content.even{
        float: right;
      }
      li{
        .item {
          margin-bottom: 50px;
          img{
            width: 100%;
          }
          .item-tag {
            display: none;
          }
        }
      }
    }


  }

}