.about{
  ul{
    li{
      list-style: none;
      margin-bottom: 60px;
      .base{
        height: 124px;
        margin-bottom: 28px;
        .name{
          @include font-format(4);
          margin-bottom: 46px;
          font-weight: bold;
        }
        .title,.identity{
          @include font-format(5);
          color: $grey3;
          margin-bottom: 12px;
        }
      }

      .des{
        width: 295px;
        p{
          @include font-format(5);
          color: $grey2;
        }
      }
      .pic{
        height: 124px;
        margin-bottom: 28px;
        img{
          width: 100px;
          height:100px;
        }
      }

    }
  }
}

.ca-footer-menu{
  p{
    text-align: center;
  }
  .title{
    margin-bottom: 30px;
    @include font-format(4);
    font-weight: bold;
  }
  .info{
    margin-top: 40px;
    margin-bottom: 120px;
    .content{
      @include font-format(5);
      color: $grey2;
    }
  }
}


@media screen and (max-width: 991px) {
  body #content #primary.ca-footer-menu {
    float: none;
    margin: auto;
    padding: 0px 15px 0px 15px;
    .member {
      padding: 0px 15px 0px 15px;
      margin-bottom: 137px;
      .pic{
        text-align: center;
      }
      .boundary{
        margin-top: 43px;
      }
    }
    ul li:last-child .boundary{
      display: none;
    }
  }
}
@media screen and (min-width: 992px) {
  #primary.ca-footer-menu {
    float: none;
    max-width: 1170px;
    margin: auto;
  }
}
