@import "ca-base";
#wpadminbar {
  display: none;
}

html{
  margin: 0;
  margin-top: 0 !important;
  padding: 0;
  min-width: 100%;
}
body{
  font-family: $ff-zh-r;
  a {
    color: $black;
  }
  background: $white;
  a:hover,
  a:focus,
  a:active {
    color: $black;
    background: $yellow;
    text-decoration: none;
  }
  a.yellow:hover,
  a.yellow:focus,
  a.yellow:active {
    color: $black;
    background: $yellow;
    text-decoration: none;
  }
  #content {
    margin: 0;
    padding: 0;
    margin-top: 2px;

    .container {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }
    #primary {
      padding: 0;
      //margin: 0;
      margin-top: 2px;
      border: none;
    }
  }
  @include font-format(1);
  @media screen and (min-width: 769px) {
    #page {
      font-size: $fs-all-p;
    }
  }
  @media screen and (max-width: 768px) {
    #page {
      font-size: $fs-all-m;
    }
  }

  #primary{
    margin: 0;
  }

  //button add more
  .add-more{
    p{
      text-align: center;
      padding: 0;
      margin: 0;
      margin-bottom: 116px;
      .btn-more{
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
        background: $grey5;
        color: $grey3;
        width: 120px;
        height: 28px;
        border-radius: 14px;
        @include font-format(5);
      }
      .btn-more:hover{
        background: $black;
        color: $white;
      }
    }
  }

  .arrow-back {
    width: 32px;
    height: 32px;
  }

  .line-combo{
    margin: 60px 0 50px 0;
    width: 100%;
    padding: 0;
    p{
      @include font-format(4);
      width: 200px;
      text-align: center;
      line-height: 14px;
      padding: 0;
      margin: auto;
    }
    .title-line {
      width: 500px;
      height: 1px;
      background: $grey4;
    }
    .title-content {
      margin-top: -7px;
      background: $white;
    }
  }
  .line-combo.today,.line-combo.yesterday,.line-combo.week,.line-combo.long{
    display: none;
  }


  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0;
  }

  .ca-container {
    margin: auto;
    overflow: auto;
  }

  .ca-block {
    overflow: hidden;
  }

  button{
    outline: none;
  }

  .ca-line{
    line-height: 24px;
  }

}

//mobile mask
.ca-mask.ca-block{
  display: none;
  background: $blue1;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px 20px 14px 20px;
  @include font-format(5);
  .m-menu-contain{
    display: none;
  }
  .m-search-contain{
    display: none;
  }

  .m-header{
    margin-bottom: 50px;
    .m-logo{
      img{
        height: 20px;
        width: auto;
      }
    }
    .m-close{
      text-align: right;
      font-size: 20px;
      height: 20px;
      line-height: 20px;
      span{
        color: $white;
      }
    }
  }
  .m-primary-menu{
    .menu-menu-1-container{
      ul{
        margin: 0;
        padding:0;
        list-style: none;
        li{
          text-align: center;
          margin-bottom: 30px;
          a{
            color: $white;
          }
        }
      }
      span{
        display: none;
      }
    }
  }

  .m-footer-menu{
    position: absolute;
    left: 0;
    bottom: 20px;
    .menu-menu2-container{
      ul{
        margin: 0;
        padding:0;
        list-style: none;
        li{
          text-align: center;
          margin-bottom: 30px;
          a{
            color: $white;
          }
        }
      }
      span{
        display: none;
      }
    }
  }

  li.current-menu-item {
    a{
      padding-bottom: 2px;
      border-bottom: $white 1px solid;
    }
  }

  .m-language{
    bottom: 14px;
    position: absolute;
    color: $white;
  }
}

//mobile search icon
#header-search{
  position: fixed;
  z-index: 999;
  font-size: 24px;
  width: 40px;
  height: 40px;
  background: $grey1;
  border-radius: 20px;
  right: 20px;
  bottom: 35px;
  text-align: center;
  line-height: 40px;
  span{
    color: $white;
  }
}

//mobile search mask
#top-search.ca-mobile{
  float: none;
  .ca-mobile{
    .search-form{
      input[type=text]{
        background: $blue1;
        border: none;
        text-align: center;
        @include font-format(1);
        color: $white;
      }
      ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $white;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $white;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $white;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $white;
      }
    }
    .search-result{
      margin-top: 60px;
      p{
        @include font-format(5);
        color: $white;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .ca-pc {
    display:none;
  }
  .ca-mobile {
    display:block;
  }
  #page{
    box-shadow: 0px 10px 30px $grey4;
  }
}
@media screen and (min-width: 992px) {
  .ca-pc {
    display:block;
  }
  .ca-mobile {
    display: none;
  }
}