.course{
  .info{
    p{
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .title{
      margin-top: 40px;
      margin-bottom: 40px;
      @include font-format(4);
      font-weight: bold;
    }
    .second-title{
      @include font-format(5);
      margin-bottom: 40px;
    }
  }

  .exam-list {
    font-weight: bold;
    p.title{
      width: 66px;
      height:66px;
      line-height: 66px;
      text-align: center;
      background: $black;
      border-radius: 33px;
      color: $white;
      @include font-format(4);
    }
    ul{
      margin: 0;
      li{
        overflow: auto;
        list-style: none;
        .item-name{
          @include font-format(4);
          width: 240px;
          margin-right: 60px;
          margin-bottom: 40px;
        }
        .item-link{
          img{
            width: 22px;
          }
        }
        p{
          float: left;
          line-height: 28px;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .info{
      p{
        padding: 0;
        margin: 0;
        text-align: left;
      }
      .title{
        @include font-format(1);
        margin-top: 16px;
        margin-bottom: 30px;
        padding: 0 20px;
      }
      .pic{
        padding: 0 20px;
      }
      .content{
        @include font-format(5);
        margin-top: 20px;
        margin-bottom: 120px;
        padding: 0 20px;
        p:first-child{
          text-align: left !important;
          font-weight: bold;
          text-decoration: underline;
          margin-bottom: 20px;
        }
        p{
          line-height: 28px;
          text-align: left;
        }
      }
    }

    .exam-list {
      font-weight: bold;
      padding: 0 20px;
      ul{
        margin: 0;
        li{
          overflow: auto;
          list-style: none;
          .item-name{
            @include font-format(4);
            width: 80%;
            margin-right: 24px;
            margin-bottom: 40px;
          }
          .item-link{
            @include font-format(1);
          }
          p{
            float: left;
            line-height: 28px;
          }
        }
      }
    }
    .study-question-list{
      .title {
        @include font-format(3);
        text-align: left;
        padding: 0 20px;
        margin-bottom: 48px;
        .title-icon{
          font-size: 35px;
          height: 35px;
          width:35px;
          float: left;
        }
        .title-des{
          height:35px;
          line-height: 35px;
        }
      }

    }
  }
  @media screen and (min-width: 992px) {
    .info{
      .content{
        @include font-format(5);
        margin-top: 43px;
        margin-bottom: 120px;
        overflow: auto;
        height: 145px;
        p{
          line-height: 28px;
          text-align: left;
        }
      }
    }
  }
}
.ca-mask.ca-block.university-des-mask{
  background: rgba(0, 0, 0, 0.82);
  .university-des{
    color: $white;
    line-height: 20px;
    height: 400px;
    overflow: auto;
  }
}
