@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot?9nfnng');
  src:    url('../fonts/icomoon.eot?9nfnng#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?9nfnng') format('truetype'),
  url('../fonts/icomoon.woff?9nfnng') format('woff'),
  url('../fonts/icomoon.svg?9nfnng#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-abroad:before {
  content: "\e912";
}
.icon-video:before {
  content: "\e900";
}
.icon-offline:before {
  content: "\e911";
}
.icon-mag:before {
  content: "\e913";
}
.icon-media:before {
  content: "\e914";
}
.icon-workshop:before {
  content: "\e915";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-drop:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e901";
}
.icon-continue:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-global:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-link:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-more:before {
  content: "\e90b";
}
.icon-pinterest:before {
  content: "\e90c";
}
.icon-rewind:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-twitter:before {
  content: "\e90f";
}
.icon-weibo:before {
  content: "\e910";
}

