.join{
  .items{
    ul{
      li{
        p{
          text-align: left;
        }
        .line{
          margin-bottom: 60px;
        }
        .title{
          @include font-format(4);
          margin-bottom: 40px;
        }
        .specific{
          margin-bottom: 20px;
          @include font-format(5);
          color: $grey3;
          p{
            margin-bottom: 20px;
          }
        }
        .des{
          margin-bottom: 60px;
          @include font-format(5);
        }
      }
    }
    ul li:first-child .line{
      display: none;
    }
  }
  .contact{
    margin-bottom: 70px;
    .single{
      text-align: left;
      @include font-format(5);
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  body #content #primary.ca-footer-menu{
    margin-bottom: 197px;
    ul.ca-container-join {
      list-style: none;
      padding: 0px 15px 0px 15px;
      margin: auto;
      overflow: auto;
    }
  }
}
@media screen and (min-width: 992px) {
  .ca-container-join {
    width: 503px;
    margin: auto;
    overflow: auto;
  }
}