.magazine{

  @media screen and (max-width: 991px) {
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-slide .pic,.swiper-slide .title{
      text-align: center;
    }
    .swiper-container{

      .swiper-slide{
        img{
          width: 100%;
          height: auto;
        }
      }
      .swiper-slide-next{
        img{
          width: 280px;
          height: 394px;
          margin-top: 0px;
        }
      }

      .swiper-button-prev,.swiper-button-next{
        span{
          line-height: 60px;
          font-size: 40px;
          color: $white;
        }
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: $grey3;
      }
      .swiper-button-prev span{
        margin-left: 6px;
      }
      .swiper-button-next span{
        margin-left: 12px;
      }

    }
    .swiper-slide .title{
      @include font-format(2);
      display: none;
    }
    .swiper-slide-next .title{
      margin-top: 40px;
      @include font-format(2);
      display: block;
    }
    .magazine-slider-content{
      padding: 0 20px;
      .title{
        text-align: center;
        @include font-format(1);
        margin: 0 0 10px 0;
      }
      .item{
        margin-top: 65px;
        margin-bottom: 85px;
        display: none;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .swiper-slide .pic,.swiper-slide .title{
      text-align: center;
    }
    .swiper-container{
      margin-top: 60px;

      .swiper-slide{
        img{
          width: 150px;
          height: 210px;
          margin-top: 92px;
        }
      }
      .swiper-slide-next{
        img{
          width: 280px;
          height: 394px;
          margin-top: 0px;
        }
      }

      .swiper-button-prev,.swiper-button-next{
        span{
          line-height: 60px;
          font-size: 40px;
          color: $white;
        }
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: $grey3;
      }
      .swiper-button-prev span{
        margin-left: 6px;
      }
      .swiper-button-next span{
        margin-left: 12px;
      }

    }
    .swiper-slide .title{
      @include font-format(2);
      display: none;
    }
    .swiper-slide-next .title{
      margin-top: 40px;
      @include font-format(2);
      display: block;
    }
    .magazine-slider-content{
      .item{
        margin-top: 65px;
        margin-bottom: 85px;
        display: none;
      }
    }
  }

}
