.magazine{
  .swiper-slide .pic,.swiper-slide .title{
    text-align: center;
  }
  .swiper-container{
    margin-top: 60px;

    .swiper-button-prev,.swiper-button-next{
      span{
        line-height: 60px;
        font-size: 40px;
        color: $white;
      }
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: $grey3;
    }
    .swiper-button-prev span{
      margin-left: 6px;
    }
    .swiper-button-next span{
      margin-left: 12px;
    }

  }
  .swiper-slide .title{
    @include font-format(2);
    display: none;
  }
  .swiper-slide-next .title{
    margin-top: 40px;
    @include font-format(2);
    display: block;
  }
  .magazine-slider-content{
    .item{
      margin-top: 65px;
      margin-bottom: 85px;
      display: none;
    }
  }

  @media screen and (max-width: 991px) {
    .swiper-container{
      .swiper-slide{
        width: 33.33% !important;
        img{
          width: 50%;
          height: auto;
        }
      }
      .swiper-slide-next{
        width: 33.33% !important;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .swiper-container{
      .swiper-slide{
        img{
          width: 150px;
          height: 210px;
          margin-top: 92px;
        }
      }
      .swiper-slide-next{
        img{
          width: 280px;
          height: 394px;
          margin-top: 0px;
        }
      }
    }
  }

}
