.study{
  .study-head{
    p{
      margin-top: 60px;
      margin-bottom: 20px;
      padding: 0;
      text-align: center;
      img{
        width: 24px;
        height: 30px;
      }
    }
    p.content {
      margin: 0;
      @include font-format(3);
    }
  }
}

//university
.study-university-list {
  margin-top: 90px;
  ul{
    li{
      list-style: none;
      margin-bottom: 60px;
      p{
        float: left;
        margin: 0;
      }
      .item-name{
        width: 188px;
        margin-right: 10px;
        line-height: 28px;
        @include font-format(4);

      }
      .item-link{
        img{
          width: 10px;
        }
      }
      a:hover{
        color: $grey3;
      }
    }
  }
}

//question
.study-question-list {
  overflow: auto;
  margin-top: 90px;
  .title{
    @include font-format(4);
    text-align: center;
    margin-bottom: 90px;
    font-weight: bold;
  }
  ul{
    margin: 0;
    li{
      list-style: none;
      margin-bottom: 49px;
      p{
        float: left;
        margin: 0;
      }
      .item-name{
        width: 443px;
        margin-right: 24px;
        line-height: 28px;
        @include font-format(4);

      }
      .item-link{
        img{
          width: 22px;
        }
      }
      a:hover{
        color: $grey3;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .study{
    .study-head{
      p{
        margin-top: 25px;
      }
    }
  }
  .study-university-list {
    margin-top: 60px;
    ul{
      padding: 0 20px;
      li{
        list-style: none;
        margin-bottom: 40px;
        p{
          float: left;
          margin: 0;
        }
        .item-name{
          width: 90%;
          margin-left: 0;
          margin-right: 0;
          line-height: 28px;
          @include font-format(4);
        }
      }
    }
  }
  //question
  .study-question-list {
    .title{
      margin-bottom: 60px;
    }
    ul{
      margin: 0;
      padding: 0 20px;
      li{
        list-style: none;
        margin-bottom: 30px;
        overflow: auto;
        p{
          float: left;
          margin: 0;
        }
        .item-name{
          width: 80%;
          margin-right: 24px;
          line-height: 28px;
          @include font-format(4);

        }
        .item-link{
          span{
            @include font-format(1);
          }
          img{
            width: 22px;
          }
        }
        a:hover{
          color: $grey3;
        }
      }
    }
  }

  .mobile-select-arrow{
    .icon-switch{
      font-size: 35px;
      line-height: 80px;
    }
  }
}
@media screen and (min-width: 992px) {

}