.offline{
  .offline-pic{
    margin-top: 120px;
    width: 630px;
  }
  .offline-content{
    margin-top: 120px;
    padding-left: 50px;
    .name{
      @include font-format(1);
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .text{
      @include font-format(5);
      color: $grey2;
      line-height: 2;
      width: 320px;
      margin-bottom: 35px;
    }
    .see-more{
      margin-bottom: 20px;
      button{
        width: 200px;
        height: 40px;
        border-radius: 2px;
        background-color: $grey1;
        box-shadow: none;
        text-shadow: none;
        color: $white;
        @include font-format(5);
      }
    }
    .time,.address{
      font-size: 14px;
      @include font-format(4);
      line-height: 1.7;
      text-align: justify;
      color: $grey2;
    }
  }
}