.home{
  .title{
    height:20px;
    margin-bottom: 60px;
    .name{
      text-align: center;
      z-index: 2;
      position: relative;
      background: $white;
      @include font-format(4);
      margin: 0 auto;
      width: 180px;
      a{
        color: $grey2;
      }
    }
    .line{
      text-decoration: line-through;
      height: 2px;
      width: 500px;
      background: $grey4;
      margin: 0 auto;
      margin-top: -9px;
      position: relative;
      z-index: 1;
    }
  }

  .home-pic{
    img{
      width: 100%;
    }
    margin-bottom: 60px;
  }

  .home-articles{
    .column{
      margin-bottom: 70px;
    }
  }

  .home-hundred{
    margin-bottom: 130px;
    .title{
      .name{
        color: $grey3;
      }
    }
    .item{
      text-align: center;
      margin-bottom: 30px;
      img{
        width: 88px;
        height: 88px;
        border-radius: 44px;
      }
      img:hover{
        border: 1px solid $black;
      }
      a:hover{
        background: $white;
      }
      .join-us{
        @include font-format(5);
        font-weight: bold;
        width: 88px;
        height: 88px;
        margin: 0 auto;
        border: 1px solid $black;
        border-radius: 44px;
        line-height: 88px;
      }
      .join-us:hover{
        background: $black;
        color: $white;
      }
    }
  }
}
.article-items{
  .item{
    .content{
      width: 300px;
      height: 246px;
      border-radius: 1.7px;
      background-color: $white;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      border: solid 0.9px $grey4;
      margin: 0 auto;
      .pic{
        width: 300px;
        height: 150px;
        border-radius: 1.7px;
        img{
          width: 100%;
          height: 100%;
        }
        a:hover{
          background: $white;
        }
      }
      .name{
        @include font-format(3);
        color: $grey1;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20px;
      }
      .tag,.time{
        @include font-format(5);
        color: $grey3;
        margin-bottom: 10px;
        margin-left: 20px;
      }
    }
    margin-bottom: 20px;
  }
}