.articles{
  .title{
    .icon{
      span{
        font-size: 30px;
        border: solid 1px $black;
        border-radius: 50%;
        padding: 4px;
      }
    }
    @include font-format(3);
    font-weight: bold;
    color: $grey1;
    text-align: center;
    .icon {
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 991px) {
    .article-items{
      margin-top: 0;
      margin-bottom: 120px;
      .item{
        padding: 0;
        .name,.tag{
          padding: 0 20px;
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .article-items{
      margin-top: 60px;
      margin-bottom: 120px;
    }
  }
}